@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card-flip {
        position: relative;
    }

    .card-face-front,
    .card-face-back {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
    }

    .card-face-front {
        opacity: 1;
        transform: scale(1);
    }

    .card-face-back {
        opacity: 0;
        transform: scale(0.95);
    }

    .card-flip.flipped .card-face-front {
        opacity: 0;
        transform: scale(0.95);
    }

    .card-flip.flipped .card-face-back {
        opacity: 1;
        transform: scale(1);
    }
}
